<!DOCTYPE html>
<html>
  <head>
    <title>Polka - Play</title>
    <link rel="stylesheet" href="/stylesheets/modern.css">
  </head>
  <body>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>
