.input-control > input[type=url] {
  border: 2px #bababa solid;
  width: 100%;
  padding: 4px 32px 6px 5px;
  position: relative;
  background-color: #fff;
  outline: 0;
  margin-right: 32px;
  width: 100%;
}

.input-control > input[type=url]:focus {
  border-color: #000;
}

.track img.artwork {
    max-width: 150px;
}

#chat-controls {
    max-width: 30%;
}

#chat-messages {
    max-height: 500px;
    overflow: auto;
    background-color: rgba(255,255,255,0.5);
}

#chat-messages li {
    word-break: break-all;
}

#chat-messages span.timestamp {
    color: #777;
    font-size: smaller;
    margin-right: 0.5em;
}

#chat-messages .votes {
    font-size: smaller;
    margin-left: 0.5em;
}

#chat-messages .votes .vote-up {
    color: green;
}

#chat-messages .votes .vote-down {
    color: red;
}

#chat input {
    margin-right: 0;
}

#page-index h2 a {
    color: inherit;
    font: inherit;
}

#page-index #menu {
    margin-top: 5%;
}
