.input-control > input[type=url] {
  border: 2px #bababa solid;
  width: 100%;
  padding: 4px 32px 6px 5px;
  position: relative;
  background-color: #fff;
  outline: 0;
  margin-right: 32px;
  width: 100%;
}

.input-control > input[type=url]:focus {
  border-color: #000;
}

.track img.artwork {
    max-width: 150px;
}

#chat-messages {
    max-height: 500px;
    overflow: auto;
}

#chat-messages span.timestamp {
    color: #777;
    font-size: smaller;
    margin-right: 0.5em;
}

#chat input {
    margin-right: 0;
}
